.about {
  margin: 10rem 0;
  display: grid;
  grid-template-columns: 3fr 2fr;
  column-gap: 4rem;

  &__box {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  &__heading {
    font-size: 3.6rem;

    span {
      display: block;
      font-size: 2rem;
    }
  }

  &__text {
    max-width: 50ch;

    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }

  &__img {
    width: 100%;
  }
}
