.card {
  box-shadow: var(--shadow);
  border-radius: 1.6rem;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__name {
    font-size: 2rem;
  }

  &__price {
    color: var(--col-accent);
    font-weight: 700;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__body {
    padding: 2rem 3rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: space-between;
  }

  &__description {
    font-size: 1.5rem;
    height: 120px;
  }

  &__order {
    text-decoration: none;
    color: currentColor;
    font-size: 1.5rem;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
