.header {
  padding: 1rem 0;
  width: 100%;
  background-color: #fff;
  box-shadow: var(--shadow);
  z-index: 999;

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__logo {
    height: 5rem;
  }
}
