.book {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6rem;
  row-gap: 2rem;

  &__heading {
    grid-column: 1 / 3;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-start;
    padding: 3rem 0;
  }

  &__section {
    width: 100%;
    margin-bottom: 1rem;
  }

  &__people {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__people-data {
    // border: 1px solid var(--col-black);
    border-radius: 1.6rem;
    padding: 0.75rem 2rem;
    width: 50%;
    background-color: var(--col-white-2);
    cursor: default;
  }

  &__input {
    padding: 0.75rem 2rem;
    font-size: 1.5rem;
    border-radius: 1.6rem;
    border: none;
    display: inline-block;
    background-color: var(--col-white-2);

    &:focus-within {
      background-color: var(--col-white-3);
      outline: 1px solid var(--col-black);
    }

    &[type='text'],
    &[type='email'] {
      width: 100%;
    }

    &--occasion {
      width: 50%;
      font-size: inherit;
      font-family: inherit;
    }

    &--message {
      height: 20rem;
      resize: none;
      font-family: inherit;
      padding-top: 1rem;
    }
  }

  &__input-time[type='radio'] {
    display: none;
  }

  &__time {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__label {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 0.75rem;

    &-time {
      padding: 0.25rem 1rem;
      font-size: inherit;
      font-weight: inherit;
      display: inline-block;
      border-radius: 1.6rem;
      border: solid 1px var(--col-black);
      cursor: pointer;

      &--active {
        background-color: var(--col-primary-2);
      }
    }
  }

  &__plus,
  &__minus {
    border-radius: 100px;
    background-color: var(--col-primary-2);
    width: 3rem;
    height: 3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--col-black);
    border: none;
    font-size: 1rem;
    transition: all 0.3s;

    &:hover {
      filter: brightness(1.1);
    }
  }

  &__illustration {
    background-image: url('../../assets/images/illustration.png');
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-size: contain;
  }

  &__error {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--col-error);
    margin-left: 2rem;
  }
}

@media screen and (max-width: 700px) {
  .book {
    &__form {
      grid-column: 1 /3;
    }

    &__section {
      width: 75%;
    }

    &__illustration {
      display: none;
    }
  }
}

@media screen and (max-width: 525px) {
  .book {
    &__section {
      width: 100%;
    }
  }
}
