.testimonial {
  padding: 10rem 0;

  &__heading {
    font-size: 2.6rem;
    color: var(--col-white);
    margin-bottom: 5rem;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
  }

  &__card {
    padding: 2rem;
    background-color: var(--col-white);
    border-radius: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  &__img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

  &__name {
    font-size: 1.4rem;
  }

  &__username {
    font-size: 1.3rem;
  }

  &__description {
    min-height: 50px;
    font-size: 1.2rem;
  }

  &__rating {
    display: flex;
    gap: 0.15rem;
    filter: opacity(0.75);
  }
}
