.booking-success {
  padding: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 4rem;
  text-align: center;

  &__icon {
    font-size: 4rem;
    color: var(--col-success);
  }

  &__body {
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  &__field {
    margin-bottom: 1rem;
  }
}
