.highlight {
  margin-top: 12rem;
  margin-bottom: 6rem;

  &__heading {
    font-size: 2.6rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
  }

  &__menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
  }
}
