:root {
  --col-body: #333;
  --col-primary-1: #3a4b46;
  --col-primary-2: #f4ce14;
  --col-success: hsl(162, 70%, 70%);
  --col-error: hsl(0, 70%, 70%);
  --col-accent: #ee9972;
  --col-black: #1f1f1f;
  --col-white: #e0e0e0;
  --col-white-2: #e3e8e7;
  --col-white-3: #f2f3f3;
  --shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  font-size: 1.5rem;
  line-height: 1.3;
  color: var(--col-body);
}

ul {
  list-style: none;
}

input {
  font-family: inherit;
}

textarea {
  width: 100%;
}

.mt-2 {
  margin-top: 2rem;
}

/* Layout */
.container {
  max-width: 860px;
  margin: 0 auto;
}

.bg-green {
  background-color: var(--col-primary-1);
}

/* Media Queries */
@media screen and (max-width: 950px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 525px) {
  html {
    font-size: 57.5%;
  }

  .container {
    width: 80%;
  }
}
